@import 'reset';

.conteiner{
	margin:30px 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&-block {
		display: flex;
		margin-top: 30px;
	}
}

.circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #FF8300;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;

	&__pen {
		width: 20px;
		height: 20px;
	}
}

.send--blue {
	padding: 14px 51px;
	background-color: white;
	border:2px solid #005FAF;
	border-radius: 4px 4px 24px 4px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #005FAF;
	outline: none;
}

.send--blue:hover {
	border-radius: 4px;
	background: #005FAF;
	color: #FFFFFF;
}

.send--blue:active {
	border-radius: 4px;
	background: #006FCD;
	color: #FFFFFF;
	border:2px solid #006FCD;
}


.send--red {
	padding: 12px 31px;
	background: linear-gradient(100.03deg, #FF823C 0%, #FFBC47 100%);
	border-radius: 4px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	outline: none;
	border: none;
}

.send--red:hover {
	background: #FF823C;
}

.send--red:active {
	background: #FF9E42;
}

.get-started {
	background: #fff;
	border-radius: 4px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: black;
	outline: none;
	border: none;
	box-shadow: -2px 8px 10px 2px rgba(0,0,0,0.1);
	width: 200px;
	padding: 8px 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}


.get-started:hover {
	background: #5C5C5C;
	color: #FFFFFF;
	box-shadow: none;
	justify-content: flex-end;

}

.get-started:hover .arrow{
}


.get-started:active  {
	background: #ADADAD;
}

.get-started:active .arrow{
	opacity: 0;
}

.arrow {
	width: 50px;
	height: 30px;
}

.people {
	width: 30px;
	height: 40px;
	stroke:#7C4DFF;
}


.login {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #7C4DFF;
	letter-spacing: -0.25px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
	background:#fff;
	border: none;
	border-radius: 999px;
	box-shadow: -2px 5px 7px 2px rgba(0,0,0,0.2);
	padding: 0px 10px;
}

.login:hover {
	background: #7C4DFF;
	color: #fff;
	box-shadow: -2px 5px 7px 2px rgba(0,0,0,0.09);
}

.login:hover .people{
	stroke:#fff;
	
}


.clear {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px 33px;
		font-family: 'Rajdhani', sans-serif;
		border: none;
		background: #ECF2F7;
		color: #4B596D;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 20px;

	&__img {
		width: 20px;
		height: 20px;
		margin-left: 10px;
	}

}
.clear:hover {
	background:#b0d9f7;
}



.start {
	display: flex;
	align-items: center;
	background: #fff;
	border:none;
	&__text {
		color: #4B596D;
		font-family: 'Rajdhani', sans-serif;
		font-size: 16px;
		line-height: 20px;
	}
	
	&__img1 {
		width: 22px;
		height: 19px;
		margin-left: 10px;
	}

	&__img2 {
		width: 50px;
		height: 30px;
		margin-left: 10px;
		display: none;
	}
}


.start:hover .start__text{
	border-bottom: 1px solid #649CD3;
}

.start:hover .start__img1{
	display: none;
}

.start:hover .start__img2{
	display: block;
}

.start:disabled {
	background: red;
}

.yesterday {
	background: #7C4DFF;
	border-radius: 4px;	
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 20px;

	&__paragraph {
		font-family: 'Yrsa', serif;
		font-weight: 600;
		font-size: 18px;
		line-height: 32px;
		letter-spacing: 1px;
		color: #FFFFFF;

	}

	&__img {
		width: 28px;
		height: 28px;
		margin-left: auto;
	}
}

.yesterday:hover {
	background: #34005c;
}

.yesterday:active {
	background: #bf6bff;
}
.conteiner-block--flex {
	display: flex;
}

/*можно ли было как-то растнуть стрелочку не прибегая к dispay none?*/

.AppStore {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	background: #333333;
	border-radius: 4px;
	border: none;
	padding: 0px 13px;

	&__paragraph {
		margin-left: 10px;
		text-align: left;
		letter-spacing: 0.25px;
		color: #FFFFFF;
		font-size: 14px;
		line-height: 14px;
		font-family: 'Yrsa', serif;

		&-big {
			font-size: 18px;
			letter-spacing: -0.25px;
			font-weight: 600;
		}
	}

	&__img {
		width: 23px;
		height: 28px;
	}
}

.WebApp {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #333333;
	border-radius: 4px;
	border: none;
	padding: 0px 13px 0px 0px;


	&__paragraph {
		text-align: left;
		letter-spacing: 0.25px;
		color: #FFFFFF;
		font-size: 14px;
		line-height: 14px;
		font-family: 'Yrsa', serif;

		&-big {
			font-size: 18px;
			letter-spacing: -0.25px;
			font-weight: 600;
		}
	}

	&__img {
		width: 48px;
		height: 48px;
		margin-left: auto;
	}
}

.WebApp:hover {
	background: black;
}

.AppStore:hover {
	background: black;
}